In [2]:
import pandas as pd
import numpy as np

In [96]:
pd.read_csv('../data/temp/low_volume.zip')['DATE']

0       20200228
1       20200228
2       20200303
3       20200303
4       20200303
          ...
2227    20201019
2228    20201019
2229    20201019
2230    20201019
2231    20201019
Name: DATE, Length: 2232, dtype: int64

In [88]:
%%time
rawdata_df = pd.read_csv(
    "../data/temp/b144c282db8243d9_csv.zip",
    nrows=500000,
    low_memory=False,
    dtype={
        "DATE": "uint32",
        "EX": "string",
        "SYM_ROOT": "string",
        "SYM_SUFFIX": "string",
        "PRICE": "float32",
    },
)

CPU times: user 797 ms, sys: 93.8 ms, total: 891 ms
Wall time: 896 ms

In [89]:
rawdata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   DATE        500000 non-null  uint32
 1   TIME_M      500000 non-null  object
 2   EX          500000 non-null  string
 3   SYM_ROOT    500000 non-null  string
 4   SYM_SUFFIX  0 non-null       string
 5   TR_SCOND    316383 non-null  object
 6   PRICE       500000 non-null  float32
 7   TR_CORR     500000 non-null  int64
dtypes: float32(1), int64(1), object(2), string(3), uint32(1)
memory usage: 26.7+ MB

In [90]:
rawdata_df['DATE'].diff(1)

0         NaN
1         0.0
2         0.0
3         0.0
4         0.0
         ...
499995    0.0
499996    0.0
499997    0.0
499998    0.0
499999    0.0
Name: DATE, Length: 500000, dtype: float64

In [92]:
rawdata_df['DATE']rawdata_df['DATE'].diff(1)

array([20200102, 20200103], dtype=uint32)

In [68]:
rawdata_df['TIME_M'].iloc[0]

'9:30:00.436516480'

In [59]:
rawdata_df.head()

       DATE             TIME_M EX SYM_ROOT SYM_SUFFIX      PRICE
0  20200102  9:30:00.436516480  N        A       <NA>  85.900002
1  20200102  9:30:00.436537082  N        A       <NA>  85.900002
2  20200102  9:30:00.438161828  N        A       <NA>  85.900002
3  20200102  9:30:00.493192712  N        A       <NA>  85.550003
4  20200102  9:30:00.493212243  N        A       <NA>  85.519997

In [17]:
rawdata_df['SYM_SUFFIX'].unique()

array([nan, 'PRB', 'PRA', 'WS', 'PRACL', 'PRG', 'PRH', 'PRI'],
      dtype=object)

In [30]:
rawdata_df["SYM_BOTH"] = (
    rawdata_df["SYM_ROOT"]
    + rawdata_df["SYM_SUFFIX"].apply(lambda x: "--" if x == x else "")
    + rawdata_df["SYM_SUFFIX"].fillna("")
)

In [31]:
rawdata_df['SYM_BOTH'].unique()

array(['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN',
       'ADBE', 'ADI', 'ADM', 'ADP', 'ADSK', 'AEE', 'AEP', 'AEP--PRB',
       'AES', 'AFL', 'AIG', 'AIG--PRA', 'AIG--WS', 'AIV', 'AIZ', 'AJG',
       'AKAM', 'ALB', 'ALGN', 'ALK', 'ALL', 'ALL--PRACL', 'ALL--PRB',
       'ALL--PRG', 'ALL--PRH', 'ALL--PRI', 'ALLE', 'ALXN', 'AMAT', 'AMCR',
       'AMD'], dtype=object)

In [13]:

rawdata_df['SYM_ROOT'].unique()

array(['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN',
       'ADBE', 'ADI', 'ADM', 'ADP', 'ADSK', 'AEE', 'AEP', 'AES', 'AFL',
       'AIG', 'AIV', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK', 'ALL',
       'ALLE', 'ALXN', 'AMAT', 'AMCR', 'AMD'], dtype=object)